<% provide(:title, 'Big Day') %>
<% provide(:b, "two")%>
<a class="headline"><%= image_tag("bigday.png", alt: "our big day")  %></a>

<table class="bdtble">
  <td class="bdimg"><%= image_tag("ceremony.jpg", alt: "Lower ochsner park") %>
    </td>
    <td class="bdimg"><%= image_tag("reception.jpg", alt: "baraboo arts center") %>
    </td>
  </tr>
  <tr>
    <td class="bdimg">Ceremony
    </td>
    <td class="bdimg">Reception
    </td>
  </tr>
  <tr>
    <td class="bdimg">Im the ceremony info
    </td>
    <td class="bdimg">Im the wedding info
</table>
<br/>
<a class="headline"><%= image_tag("ourfriends.png", alt: "our wedding party")  %></a>