<% provide(:title, 'Big Day') %>
<% provide(:b, "two")%>
<a class="headline"><%= image_tag("h1.png", alt: "headline")  %></a>
<table class="bgtable">
  <tr><td class="bride">
    <h2>The Bride</h2><a class="bimg">
    <%= image_tag("index.jpg", alt: "Beatiful Kassandra") %>
    </a>She did really well in a movie about bringing a small ring to a volcano
    <hr class="blueline"/><span class="qts">"</span> I hate getting stabbed by cursed blades <span class="qts">"</span>
    <hr class="blueline"/></td>
    
  <td class="groom"><h2>The Groom</h2>
    <a class="gimg"><%= image_tag("bingo.jpg", alt: "Handsom man") %>
    </a>the groom, is old. Hates it when kids play in his lawn and skateboard on the damn sidewalks.
    <hr class="blueline"/><span class="qts">"</span> ...HUH?...WAT? <span class="qts">"</span>
    <hr class="blueline"/></td></tr>


</table>