<% provide(:title, 'Gift Registry') %>
<% provide(:b, "four")%>
<a class="headline"><%= image_tag("gifts.png", alt: "where we are registered")  %></a>

<table class="gftble">
  <td class="gfimg" colspan="2">We are registered at
    </td>
  <td class="gfimg">
    </td>
  </tr>
  <tr>
    <td class="gfimg"><%= link_to image_tag("Amazon.jpg", alt: "Amazon dot com"), "http://www.amazon.com/gp/registry/wedding/ZA79O72PRSPW" %>
    </td>
    <td class="gfimg"><%= link_to image_tag("targ.png", alt: "Target"), "http://www.target.com/gift-registry/giftgiver?registryId=luJMAaGQej3vo4BONKmHlw&registryType=WEDDING" %>
    </td>
  </tr>