<% provide(:title, 'Lodging') %>
<% provide(:b, "three")%>
<a class="headline"><%= image_tag("lodging.png", alt: "where to stay")  %></a>

<table class="lgtble">
  <td class="lgimg"><%= image_tag("clarion.jpg", alt: "clarion baraboo") %>
    </td>
  <td class="lgimg"><%= image_tag("bestwestern.jpg", alt: "best western baraboo") %>
    </td>
  </tr>
  <tr>
    <td class="lgimg">Clarion
    </td>
    <td class="lfimg">Best Western
    </td>
  </tr>
  <tr>
    <td class="lfimg">626 W Pine St, Baraboo, WI 53913 <br/> 608.356.6422
    </td>
    <td class="lfimg">725 W Pine St, Baraboo, WI 53913 <br/>608.356.1100
</table>