@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.one {
    background-image: url("/images/blue.png");
    background-repeat: no-repeat;
    padding-top: 65px;
}
.master {
    display: block;
    position: relative;
    text-align: center;
}

h1 {
  padding-top: 65px;
  
}

.headline, h1 {
    clear: both;
    display: block;
    text-align: center;
    z-index: 2;
}
.grass {
    clear: both;
    display: block;
    float: none;
    height: 512px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -20px;
    width: 904px;
    z-index: 1;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.navbar-nav {
    background-color: #f47f49;
    text-align: center;
    width: 100%;
}

.navbar-nav li:hover {
  background-color: #e2713d;
}

.navbar-nav li:active {
  background-color: #e2713d;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-fixed-top {
    background-color: #f47f49;
    border-bottom-width: 5px;
    border-color: white;
}
.nav.navbar-nav li a {
    color: white;
    text-transform: uppercase;
}
.nav.navbar-nav li a:active {
    color: #e0e0e0
}

.dropdown-menu {
  background-color: #f47f49;
}
/*story page*/

.bgtable {
  text-align:center;
  width:83%;
  margin-top: 15px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-right: 1em;
}


.bride {
  border-right:1px solid $gray-lighter;
  width:40%;
  text-align:left;
}
.groom {
  width: 40%;
  text-align:left;
}

.gimg {
  text-align:right;
}

.bimg, .gimg {
  clear:both;
  display:block;
  margin-top: 1em;
  margin-bottom:1em;
}

.bgtxt {
  
}

h2 {
  text-align:center;
}

.blueline {
  width:45%;
  background-color: #98d9e9;
  border-color: 1px #98d9e9;
  color:#98d9e9;
  margin-left:auto;
  margin-right:auto;

}

.qts {
  font-weight:bold;
  text-align:center;
}

.story {
  text-align:center;
  width:80%;
 /*  border: 2px solid black; */
  margin-right:auto;
  margin-left:auto;
  
}

.strimg {
    text-align:center;
    margin: 1em;
    border-bottom: 5px solid transparent;
    border-right: 2px solid transparent;
    border-left: 1px solid transparent;
  
}

/*big day*/

.bdtble {
  text-align:center;
  width:83%;
  margin-top: 15px;
  /*border: 2px solid black;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px
}

/*lodging*/
.lgtble {
  text-align:center;
  width:83%;
  margin-top: 15px;
  /*border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px
}
/*gifts*/
.gftble {
  text-align:center;
  width:83%;
  margin-top: 15px;
  /*border: 2px solid black;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px
  
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn-primary {
  background-color: #f47f49;
}

input {
  height: auto !important;
}

#wedding {
  display:block;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.guests {
  list-style:none;
  margin:0;
  li {
    overflow:auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}




