@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family:'GreatVibes-Regular';
  src:font-url('GreatVibes-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;  
}

@font-face {
  font-family:'AngelicaProText';
  src:font-url('AngelicaProText-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;  
}

@font-face {
  font-family:'AngelicaProText-Italic';
  src:font-url('AngelicaProText-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family:'AngelicaProText-SemiBold';
  src:font-url('AngelicaProText-SemiBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family:'BebasNeue';
  src:font-url('BebasNeue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'BebasNeue-Bold';
  src:font-url('BebasNeue-Bold.otf') format('opentype');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family:'BebasNeue-Regular';
  src:font-url('BebasNeue-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.one {
    background-image: url("/images/blue.png");
    background-repeat: no-repeat;
    padding-top: 65px;
    background-size:100%;
}
.master { 
    display: block;
    position: relative;
    text-align: center;
}

h1 {
  padding-top: 65px;
  
}

.headline, h1 {
    clear: both;
    display: block;
    text-align: center;
    z-index: 2;
}
.grass {
    clear: both;
    display: block;
    float: none;
    height: 512px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -20px;
    width: 904px;
    z-index: 1;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.navbar-nav {
    background-color: #f47f49;
    text-align: center;
    width: 100%;
}

.navbar-nav li:hover {
  background-color: #e2713d;
}

.navbar-nav li:active {
  background-color: #e2713d;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-fixed-top {
    background-color: #f47f49;
    border-bottom-width: 5px;
    border-color: white;
}
.nav.navbar-nav li a {
    font-family: "BebasNeue-Regular";
    letter-spacing:.12em;
    font-size: 1.25em;
    color: white;
    text-transform: uppercase;
}
.nav.navbar-nav li a:active {
    color: #e0e0e0
}

.btn-primary {
  border: 0;
  background-color: #f47f49;
  
}

.btn-primary:hover {
  background-color: #e2713d;
}
.btn-primary:active {
  background-color: #e2713d;
}

.dropdown-menu {
  background-color: #f47f49;
}

.line {
   font-family: "AngelicaProText-Regular";
  font-size: 1.5em;
}

/*story page*/

.bgtable {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:83%;
  margin-bottom: 60px;
 /* text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 15px;

  padding-right: 1em;
  width:83%;
  border:black solid 2px; */
}

.bord {
  border-right:solid 1px #B0B0B0;
}

.bride {
  font-family: "BebasNeue-Regular";
  text-align:center;
  margin-right:20%;
  letter-spacing:.12em;
  /*
  border-right:1px solid $gray-lighter;
  width:40%;
  text-align:left;
  */
}
.groom {
  font-family: "BebasNeue-Regular";
  text-align:center;
  margin-left:20%;
  letter-spacing: .12em;
  /*
  width: 40%;
  text-align:left; */
}

.bimg {
   width:374px;
   text-align:center;
   margin-right:3em;
   float:left;
  /*
    width:374px;
    margin-right:3em;
    text-align:center; */
}

.gimg {
    width:369px;
    text-align:center;
    margin-left: 3em;
    float:right;
  /*
  width:369px;
  text-align:center;
  margin-left:3em; */
}


.btxt {
  width:374px;
  text-align:left;
  margin-right:3em;
  font-family: "AngelicaProText-Regular";
  padding-top: 2em;
  font-size: 1.2em;
  /*
  width:374px;
  text-align:left;
  margin-right:3em; */
}

.gtxt {
  width:369px;
  text-align:left;
  margin-left: 3em; 
  padding-top: 2em;
  margin-top:0px;
  float: right;
  font-family: "AngelicaProText-Regular";
  font-size: 1.2em;
  /*
  width:369px;
  text-align: left;
  margin-left:3em; */
}


h2 {
  text-align:center;
}

.lblueline {
  border-top:solid 1px #98d9e9;
  border-bottom:solid 1px #98d9e9;
  width:45%;
  background-color: #98d9e9;
  border-color: 1px #98d9e9;
  color:#98d9e9;
  margin-right:35%;

}

.rblueline {
  border-top:solid 1px #98d9e9;
  border-bottom:solid 1px #98d9e9;
  width:45%;
  background-color: #98d9e9;
  border-color: 1px #98d9e9;
  color:#98d9e9;
  margin-left:35%;
}

.qts {
  font-weight:bold;
  font-family: "BebasNeue-Bold";
  font-weight: bold;
  font-size:1em;
  color:#B0B0B0;
}

.bqts {
  font-family: "BebasNeue-Bold";
  width:374px;
  margin-right:20%;
  font-size:2em;
  text-transform: uppercase; 
  line-height: 95%;
}

.gqts {
  font-family: "BebasNeue-Bold";
  margin-left:20%;
  width:369px;
  font-size:2em;
  text-transform: uppercase;
  line-height:95%;
}


.story {
  text-align:center;
  width:80%;
 /*  border: 2px solid black; */
  margin-right:auto;
  margin-left:auto;
  padding-top:2em;
}

.sthead {
    font-family: "BebasNeue-Regular";
    letter-spacing: .12em;
}

.strimg {
    text-align:center;
    margin: 1em;
    border-bottom: 5px solid transparent;
    border-right: 2px solid transparent;
    border-left: 1px solid transparent;
  
}

/*big day*/

.bdtble {
  text-align:center;
  width:83%;
  margin-top: 15px;
  /*border: 2px solid black;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 2em;
}


.bdimg:hover {
  opacity: .7;
  transition: all 1s;
}

.cimg {
   width:374px;
   text-align:left;
   margin-right:3em;
  float:left;  
}

.rimg {
   width:369px;
   text-align:right;
   margin-left:3em;
  float:right;  
}


.chead {
   font-family: "BebasNeue-Regular";
   letter-spacing: .12em;
   padding-right:5em;
}

.rhead {
    font-family: "BebasNeue-Regular";
    letter-spacing: .12em;  
    padding-left:5em;
}

.op {
  font-family: "AngelicaProText-Bold";
  font-weight: bold;
  font-size: 1.2em;
  padding-top:1.25em;
  padding-right:5em;
}

.ba {
  font-family: "AngelicaProText-Bold";
  font-weight:bold;
  font-size: 1.2em;
  padding-top:1.25em;
  padding-left:5em;
}

.cinfo {
    font-family: "AngelicaProText-Regular";
    font-size: 1.2em;
  padding-right:5em;
}

.rinfo {
    font-family: "AngelicaProText-Regular";
    font-size: 1.2em;
  padding-left:5em;
}

.rain {
  padding-top:.95em;
  font-family: "AngelicaProText-Bold";
  font-weight:bold;
  text-align:center;
}
/*lodging*/

.lgtxt, .lgtxt2 {
  font-family: "AngelicaProText-Regular"; 
  text-align:center;
  font-size: 1.25em;
  padding-bottom: 1.5em;
  padding-top: 2em;
}

.lgtxt {
  font-family: "AngelicaProText-Italic";
  font-style: italic;
  font-size:22pt;
}

.lgtxt2 {
  padding-top: .5em;
}

.blk {
  font-family: "AngelicaProText-Italic";
  font-style: italic;
}

.lgtble {
  text-align:center;
  width:83%;
  margin-top: 15px;
  /*border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}


.lgimg:hover{
  opacity: .7;
  transition: all 1s;
}

.llgimg {
   width:374px;
   text-align:left;
   margin-right:3em;
  float:left;

}

.rlgimg {
   width:369px;
   text-align:right;
   margin-left:3em;
  float:right;
}

.llhead {
    font-family: "BebasNeue-Regular";
    letter-spacing: .12em;
    padding-right:5em;
}

.lrhead {
    font-family: "BebasNeue-Regular";
    letter-spacing: .12em;
    padding-left:5em;
}

.clinfo {
  font-family: "AngelicaProText-Regular";
  padding-top:1.25em;
  font-size: 1.2em;
  padding-right: 5em;
}

.bwinfo {
  font-family: "AngelicaProText-Regular"; 
  padding-top:1.25em;
  font-size: 1.2em;
  padding-left:5em;
}

/*gifts*/
.gftble {
  text-align:center;
  width:83%;
  margin-top: 15px;
  /*border: 2px solid black;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  
}

.gftxt {
  font-family: "BebasNeue-Regular"; 
  padding-bottom:2em;
  letter-spacing: .12em;
}

.gfimg:hover {
  opacity: .7;
  transition: all 1s;
}

/*party*/

.phead {
    font-family: "BebasNeue-Regular";
    letter-spacing: .12em;
    margin-right:15%
}

.thead {
    font-family: "BebasNeue-Regular";
    letter-spacing: .12em;
   margin-left:15%
}

.pttble {
  width:83%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  height:500px;
}

.rp {
  text-align:center;
  font-family: "GreatVibes-Regular";
  color: #98d9e9;
  font-size: 2em;
  padding-bottom:.5em;
}

.lp {
  text-align:center;
  font-family: "GreatVibes-Regular";
  color: #98d9e9;
  font-size: 2em;
  padding-bottom:.5em;
}

.limage {
  width:374px;
  text-align:center;
  margin-right:3em;
}

.rimage {
    
    width:369px;
    text-align:center;
    margin-left: 3em;
}

.lcaption {
  padding-top:1em;
  width:374px;
  text-align:left;
  margin-right:3em;
  margin-left:2em;
  font-family: "AngelicaProText-Regular";  

}

.rcaption {
  width:369px;
  text-align:left;
  margin-left: 4.8em; 
  padding-top: 1em;
  margin-top:0px;
  font-family: "AngelicaProText-Regular";  

}

td {
  vertical-align:top;
}
	
.carousel-control {
  background: none !important;
  filter: none !important;
  progid:none !important;
}

.arrow {
  width:61px !important;
  height:64px !important;
  top: 220px !important;
  position:absolute;
  text-align:right;
  
}

.marrow {
  width:61px !important;
  height:64px !important;
  top: 220px !important;
  position:absolute;
  text-align:left;
  
}

.carousel {
  
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn-primary {
  background-color: #f47f49;
}

input {
  height: auto !important;
}

#wedding {
  display:block;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.guests {
  list-style:none;
  margin:0;
  li {
    overflow:auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  
}

.formtxt {
      font-family: "BebasNeue-Regular";
      letter-spacing:.12em;
      font-size: 1em;  
}

.wcheckbox {
  
}

.rcheckbox {
  
}

.ferdinand {
  margin-top: 5em;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 2em;
  font-family: "BebasNeue-Regular"; 
  padding-bottom:5em;
  letter-spacing: .12em;
  color:#98d9e9;
}
